td {border-style:dashed;
    border-width: 0.5px;
    border-color: gray;
height: 100px;
width: 215px;
text-align: center;}
button.btn{width: 50px;}
p.space{margin-bottom: 5px;}
body {margin-left: 200px;
margin-top: 200px;}
