/* mobile */
@media (max-width:400px) {
/* body {text-align: center; width: 100%;}
button {width: 100%;}
table {margin-left: auto; margin-right: auto} */};

/* desktop */
@media (min-width:400px){
/* body { text-align: left;}
table tr { display: table-cell;}
table td > *{ display: block;} */};

/* general */
p.space{margin-bottom: 50px;};
.header{display: flex;};
.nav{
    text-align:center;
    display: flex;
    flex-basis: auto;
    height: 100%;
    width: 100%};
#logo{height:100px};
.card{margin: 10px}
    