/* mobile */
@media (max-width:400px) {
/* body {text-align: center; width: 100%;}
button {width: 100%;}
table {margin-left: auto; margin-right: auto} */}

/* desktop */
@media (min-width:400px){
/* body { text-align: left;}
table tr { display: table-cell;}
table td > *{ display: block;} */}

/* general */
.navbar-nav{
    margin-left: 50px;
    margin-right: 50px}
p.space{
    margin-bottom: 50px;}
.header{
    margin-left: 50px;
    margin-right: 50px}
.nav{
    text-align:center;
    display: flex;
    flex-basis: auto;
    height: 100%;
    width: 100%}
#logo{
    height:100px}
div.card{
    margin: 10px}
p.justified {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px}
button#SignIn {
  margin-left: 0px;
  margin-right: 0px;
  display: inline;
  width: 100px;
  color: #198754;
  text-decoration: none;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;}
button#SignUp{
  margin-left: 0px;
  margin-right: 0px;
  display: inline;
  width: 100px;
  text-decoration: none;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;}
p.card-text{text-align: justify}
.about{
  margin-left: 50px; 
  margin-right: 50px; 
  text-align: center
}
.specialists{
    height: auto;
    margin-right: auto;
    margin-left: auto;}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
div.contacts{
    display: flex;
    margin-left: 50px;
    margin-right: 50px
}
* {box-sizing: border-box}
/* Login */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  border: 1px solid #888;
  width: 80%; 
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

div.login{ 
  border: 5px;
  display: block;
}
* {box-sizing: border-box}

/* Sign up*/
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* Sign up*/
