* { background-color: rgb(235, 239, 208);}

@media (max-width:400px) 
{body {text-align: center; width: 100%;}
button {width: 100%; background-color: #008CBA}
table {margin-left: auto; margin-right: auto}}

@media (min-width:400px){
body { text-align: left;}
button {background-color: #008CBA}
table tr { display: table-cell;}
table td > *{ display: block;}}