* { background-color: rgb(235, 239, 208); }

@media (max-width:600px) {
table td > *{
        display: block;
    }
 table tr {
        display: table-cell;
    }
    text-align: center;
    display: block;   
    }
@media (min-width:600px)
{ text-align: left;
}